# Entorno virtual (Aislamos las librerías de Python)
venv/
.venv/
env/

# Credenciales y Secretos (CRÍTICO: No subir a GitHub)
.env
.env.shared
auth.json

# Datos y Reportes (Evitamos subir archivos binarios pesados)
data/*.xlsx
data/*.csv
reports/*.png
reports/*.jpg
*.png
*.jpg

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# VS Code y Sistema
.vscode/
.DS_Store